<ion-header class="ion-no-border">
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="ion-no-margin">
    <ion-img src="assets/images/theatre.png" class="image"></ion-img>
    <ion-card-header>
      <ion-card-title>
        Dobrodošli
      </ion-card-title>
      <ion-card-subtitle>
        moje pozorište vam pruža uvid u naš repertoar i mogućnost rezervisanja karte
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <div class="signin-btns">
        <ion-button size="small" fill="solid" shape="round" (click)="goToLoginPage()" class="login-btn">Uloguj se</ion-button>
        <ion-button size="small" fill="outline" shape="round" (click)="goToRegisterPage()" class="signup-btn">Napravi nalog</ion-button>
      </div>

    </ion-card-content>
  </ion-card>
</ion-content>

